@(courses: List[Course], scores: List[Score])

@main(courses) {

    <header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Scores over all courses</h2>
        </hgroup>
    </header>
    
    <article class="scores">
        @scores.groupBy(_.course).map {
            case (course, scores) => {
                    <header>
                        <h3>@course.name</h3>
                    </header>
                    <ul class = "list">
                        @scores.map { score =>
                            @views.html.scores.item(score)
                            }
                    </ul>
                }
            }
                
    </article>
}