

<!DOCTYPE html>

<html>
    <head>
        <title>Golf Stat Tracker</title>
    </head>
    <body>
        <h1>
        Welcome to the Golf Stat Tracker!
        </h1>
        <h4>Welcome, User!</h4>
    
        <p>
          <ul>
            <li>Sign in</li>
            <li><a href =@controllers.routes.Application.courses()>Courses</a></li>
            <li><a href =@controllers.routes.Application.myrounds()>Post a score</a></li>
            <li><a href =@controllers.routes.Application.stats()>Stats</a></li>
          </ul>
            
        </p>
    </body>
</html>